<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="manifest" href={static_url(@conn, "/manifest.json")} />
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:poca, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(PocaWeb.Endpoint)}
      to_url={fn p -> static_url(@conn, p) end}
    />
    <style>
      audio::-webkit-media-controls-panel {
        background-color: var(--color-paper);
      }
      audio::-webkit-media-controls-play-button {
        background-color: var(--color-hairline);
        border-radius: 50%;
        margin-right: 12px;
      }
      audio::-webkit-media-controls-mute-button,
      audio::-webkit-media-controls-volume-control-container,
      audio::-webkit-media-controls-volume-control-hover-background,
      audio::-webkit-media-controls-toggle-closed-captions-button,
      audio::-webkit-media-controls-overlay-enclosure,
      audio::-webkit-media-controls-fullscreen-button {
        display: none;
        appearance: none;
      }
      audio::-webkit-media-controls-current-time-display,
      audio::-webkit-media-controls-time-remaining-display {
        color: var(--color-ink);
        font-size: var(--text-base);
        font-family: var(--font-sans)
      }

      *::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="bg-paper text-ink text-base min-h-screen">
    {@inner_content}
  </body>
</html>
