<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href={~p"/favicon.ico"} />
    <title>POCA</title>
    <PhoenixVite.Components.assets
      names={["js/app.ts", "css/app.css"]}
      manifest={{:poca, "priv/static/assets/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(PocaWeb.Endpoint)}
      to_url={fn p -> static_url(@conn, "/assets#{p}") end}
    />
    <style>
      *::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="bg-paper text-ink text-base min-h-screen">
    {@inner_content}
  </body>
</html>
